{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl sm:text-center">
        <h2 class="text-34l text-balance font-semibold tracking-tight text-gray-900 sm:text-5xl">Meet our leadership</h2>
        <p class="mt-6 text-lg/8 text-gray-600">We’re a dynamic group of individuals who are passionate about what we do and dedicated to delivering the best results for our clients.</p>
      </div>
      <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-6 gap-y-20 sm:grid-cols-2 lg:max-w-4xl lg:gap-x-8 xl:max-w-none">
        
        <li class="flex flex-col gap-6 xl:flex-row">
          <img class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover" src="{% static 'img/Ro_professional.png' %}" alt="">
          <div class="flex-auto">
            <h3 class="text-lg/8 font-semibold tracking-tight text-gray-900">Rodrigo Muñoz Delaporte</h3>
            <p class="text-base/7 text-gray-600">Founder & CEO</p>
            <p class="mt-6 text-base/7 text-gray-600">With backgrounds in business, economics, and proficient experience in software development Rodrigo is able to plan and execute the most robust tech-business projects he faces.</p>
            <br>
            <a href="https://www.linkedin.com/in/roddelaporte/" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">LinkedIn</span>
                <svg class="size-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
                </svg>
              </a>
          </div>
        </li>

        <li class="flex flex-col gap-6 xl:flex-row">
            <img class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover" src="{% static 'img/kika_professional.jpeg' %}" alt="">
            <div class="flex-auto">
              <h3 class="text-lg/8 font-semibold tracking-tight text-gray-900">Francisca Delaporte</h3>
              <p class="text-base/7 text-gray-600">Head of Marketing & Content creation</p>
              <p class="mt-6 text-base/7 text-gray-600">Francisca's photographers eyes allow her to combine it with her specialty: content creation for being instantly attractive to current and future audiences</p>
              <br>
              <a href="https://www.linkedin.com/in/franciscadelaporte/" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">LinkedIn</span>
                <svg class="size-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
                </svg>
              </a>
            </div>
          </li>
          
          <li class="flex flex-col gap-6 xl:flex-row">
            <img class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover" src="{% static 'img/miuta_professional.jpeg' %}" alt="">
            <div class="flex-auto">
              <h3 class="text-lg/8 font-semibold tracking-tight text-gray-900">Rodrigo Gonzalez</h3>
              <p class="text-base/7 text-gray-600">Head of Audiovisual and Copywritting</p>
              <p class="mt-6 text-base/7 text-gray-600">Rodrigo, as a publicist and a video productor allows to sketchs precise audivisual content with attractive and eloquent scripts.</p>
              <br>
              <a href="https://www.linkedin.com/in/ragcfilms/" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">LinkedIn</span>
                <svg class="size-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
                </svg>
              </a>
            </div>
          </li>
  
        <!-- More people... -->
      </ul>
    </div>
  </div>
{% endblock content %}